body {
    font-family: 'Press Start 2P', cursive;
    color: #eeeeee;
    background-color: #000000;
}
#title {
    border-style: double;
    border-radius: 10px;
    border-width: 6px;
    text-align: center;
    padding: 10px;
}
h1 {
    text-align: center;
    font-size: 15px;
}
.character, .enemy{
    /* padding: 8px; */
    border-style: double;
    border-color: #eeeeee;
    border-width: 6px;
    border-radius: 10px;
    /* margin-left: 137px; */
    height: 200px;
    font-size: 11px;
    /* background: linear-gradient(lightblue, blue); */
    
}
img {
    width: 95px;
    height: 150px;
    margin: auto;
    display: block;
    /* margin-bottom: 10px; */
}
.col-lg-4 {
    border-style: double;
    border-color: #eeeeee;
    border-width: 6px;
    border-radius: 10px;
    height: 300px;
    margin-top: 10px;
}
.col-md-3 {
   text-align: center;
   padding: 10px;
}
#combatMenu {
    text-align: center;
}
.btnInactive {
    display: none;
}
.btnActive{
    display:inline;
}
