body {
    font-family: 'Press Start 2P', cursive;
    color: #eeeeee;
    background-color: #000000;
}
#title {
    border-style: double;
    text-align: center;
    padding: 10px;
}
h1 {
    text-align: center;
}
.character{
    float: left;
    padding: 8px;
    border-style: double;
    border-color: #eeeeee;
    border-width: 4px;
    background: linear-gradient(lightblue, blue);
    margin: 20px;
    margin-left: 137px;
    width: 150px;
    height: 200px;
    font-size: 11px;
}
img {
    width: 100px;
    height: 150px;
    margin: 10px;
    margin-left: 10px;
}
.col-lg-4 {
    border-style: solid;
    border-color: #eeeeee;
    border-width: 4px;
    height: 300px;
}
